html * {
    font-family: 'Work Sans', sans-serif;
    margin: 0%;
}

.navbar {
    display: flex;
    justify-content: right;
    outline: auto;
    padding: 10px;
    background-color: rgb(196, 215, 178); 
    outline-color: black;
    
}

.navbar a {
    color: black;
    background-color: lightblue;
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: lightskyblue;    
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(160, 196, 157);
    padding: 10px;
    outline: auto;
    text-align: center;
}

footer a {
    color: black;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}

 footer a:hover {
    color: rgb(44, 46, 53);
    background-color: rgb(70, 156, 156);
 }

.title {
    background-color: rgb(225, 236, 200);
    padding: 20px;
    font-weight: bold;
    text-align: center;
}

.description { 
    background-color: rgb(241, 245, 232);
    padding: 20px;
    text-align: center;
}

.about {
    background-color: rgb(241, 245, 232);
    padding: 20px;
    text-align: center;
    
}

.about a {
    color: black;
    text-decoration: none;
}

.about a:hover {
    color: red;

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 15px;
    margin:5px;
    background-color: rgb(237, 247, 219);
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 5px rgba(0,0,0,0.2);
    background-color: rgb(228, 240, 204);
    transform:scale(1.005);
    
}

.card img {
    align-self: center;
    width: 100%;
    height: 200px;
    border-radius: 7px;
    object-fit: cover;
    padding: auto;
}

.card #skills {
    object-position: 30% 70%;
}
.card #lang {
    object-position: 10% 100%;
}
.card #experience {
    object-position: 50% 65%;
}

.three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.one-col {
    display: grid;
    grid-template-columns: 1fr;
    width:max-content;
    margin: 0 auto;
}

.form-elements {
    padding: 5px;
    margin: 3px auto;
    box-shadow:0 4px 5px 2px rgba(0,0,0,0.08);
    border-radius: 5px;
    background-color: rgb(204, 231, 240);
    border-color: lightgray;
    display: block;
}

.submit-button {
    padding: 10px;
    font-weight: bold;
    border-radius: 5px; 
    margin: 0 auto;
    background-color: rgb(225, 236, 200);
    box-shadow:0 4px 5px 2px rgba(0,0,0,0.08);
}

.submit-button:hover {
    box-shadow:0 4px 10px 4px rgba(0,0,0,0.12);
    background-color: rgb(203, 219, 164);
}

.line {
    height: 1px;
    background-color:black;
}